
// main
$mainColor:#FAFAFA !default;
$mainFontColor:#000 !default;

// 搜索框和导航的颜色和高度
$searchColor:#fff !default;
$searchHeight:100px !default;

// 按钮颜色和导航栏颜色
$inputColor:#FFC400 !default;
$inputHeight:32px !default;








