
// main
$mainColor:#FAFAFA !default;
$mainFontColor:#000;

// head
$headColor:#EBEBEB !default;
$headHeight:30px !default;


// 搜索区
$searchColor:#fff !default;
$searchHeight:100px !default;

// 导航条
$navColor:#FFC400;
$navHeight:40px;

// 轮播图
$bannerHeight:480px;

