@import 'var';
.box{
    background-color:$mainColor;
}
$inputColor:#C7012C;



// 数据区域
p.price{
    font-weight:bold;
    color:#C7012C;
    font-size:14px;
    padding-left:21px;
    
}
#main{
    $fontColor:#666666;
    background-color:#fff;
    .container{
        .main_t{
            line-height:40px;
            border-bottom:1px solid #ccc;
            padding-left:10px;
            a{
                color:$fontColor;
                &:hover{color:blue;text-decoration:underline;}
            }
        }
        .main_content{
            padding-top:10px;
            .main_l{
                float:left;
                width:230px;
                >div{
                    padding:5px;
                    background-color:$mainColor;
                }
                .main_lt{
                    >ul{
                        border-radius:3px;
                        background-color:#fff;
                        >li{
                            $height:48px;
                            position:relative;
                            overflow:hidden;
                            a.btnjia{
                                display:block;
                                line-height:$height;
                                height:$height;
                                font-size:16px;
                                color:$fontColor;
                                padding-left:10px;
                                span{
                                    position:absolute;
                                    top:20px;
                                    right:20px;
                                }
                            }
                            a.color{
                                color:$inputColor;
                            }                        
                            >ul{
                                height:0px;
                                padding-left:10px;
                                overflow:hidden;
                                li{
                                    float:left;
                                    width:88px;
                                    line-height:24px;
                                    padding-left:13px;
                                    a{color:$fontColor;}
                                    a::before{
                                        content:'·';
                                        font-weight:bold;
                                    }
                                    &:hover a{
                                        background-color:#f00;
                                    }
                                }
                            }
                        }
                    }
                }
                .data{
                    margin-top:6px;
                    >div{
                        border-radius:5px;
                        background-color:#fff;
                    } 
                    div>p{
                        line-height:48px;
                        height:48px;
                        padding-left:11px;
                        font-size:16px;
                        color:#C7120C;
                        border-bottom:2px solid #C7120C;
                    }
                    .datalist-left{
                        ul{
                            margin-top:13px;
                            li{
                                padding-left:16px;
                                height:94px;
                                img{border:1px solid #ccc;width:77px;height:77px;float:left;}
                                p.price,h4{
                                    float:left;
                                    width:127px;
                                    padding-left:7px;
                                    line-height:20px;
                                }
                                h4{
                                    font-weight:normal;
                                    color:$fontColor;                                   
                                    padding-top:6px;
                                }
                            }
                        }
                    }
                }
                .attention{                   
                   
                }
                .newcomment{
                    background-color:#fff;
                    margin-top:6px;
                    padding:0px;
                    
                    border-top:2px solid #C7012C;
                    >p{
                        padding-left:10px;
                        line-height:36px;
                        font-size:16px;
                        color:#C7012C;
                        background-color:#F5F5F5;
                    }
                    .comment{
                        ul{
                            padding:0 10px;
                            li{
                                height:82px;
                                border-bottom:1px dotted #000;
                                padding:8px 0px 0 5px;
                                p:first-child{
                                    line-height:16px;
                                    color:blue;
                                }
                                p:last-child{
                                    line-height:20px;
                                    color:$fontColor;
                                }
                            }
                            li:last-child{
                                border-bottom:none;
                            }
                        }
                            
                    }
                }                   
            }
            .main_r{
               float:left;
               width:970px;
               padding-left:10px;
               .advertising .mainAd{
                    float:left;
                    margin-right:10px;
                }
               .advertising .datalist-left{
                    float:left;
                    border:1px solid #ccc;
                    width:230px;
                    height:242px;
                    p{
                        line-height:36px;
                        color:#C7012C;
                        font-size:16px;
                        padding-left:10px;
                        background-color:#F5F5F5;
                    }
               }
               .arrage{
                    margin-top:8px;
                    border:1px solid #ccc;
                    padding-bottom:12px;
                    position:relative;                   
                    >ul{
                        background-color:#F3F3F3;
                        display:flex;
                        border-top:1px solid $inputColor;
                        li{
                            flex:1;
                            float:left;
                            text-align:center;
                            font-size:16px;
                            color:$fontColor;
                            line-height:36px;                           
                            border-right:1px solid #ccc;
                            border-bottom:1px solid #ccc;
                        }
                        li:last-child{
                            border-right:none;
                        }
                        li.active{
                            background-color:#fff;
                        }
                    }
                    .datalist-left{
                        position:relative;
                        height:330px;
                        ul{
                            position:absolute;
                            li{
                                float:left;
                                img{
                                    width:191px;
                                    height:209px;
                                }
                                h4,p{
                                    line-height:20px;
                                    padding-left:21px;
                                }
                                h4{
                                    color:$fontColor;
                                }
                                p{
                                    color:#FF9900;
                                }
                                p.price{
                                    @extend p.price;
                                    margin-top:38px;
                                }
                            }
                        }
                    }
                }
                .product{
                    margin-top:8px;
                    .product_class{
                        >ul{
                            padding-right:10px;
                            border-top:2px solid #ccc;
                            border-bottom:2px solid #ccc;
                            li:first-child{
                                float:left;
                                font-size:16px;
                                font-weight:bold;
                                color:$inputColor;
                                line-height:36px; 
                                padding:0 10px;
                                border-top:2px solid $inputColor;
                                width:92px;
                                margin-top:-2px;
                            } 
                            li:last-child{
                                float:right;
                                
                                a{
                                    position:relative;
                                    color:$fontColor;
                                    line-height:36px;
                                    display:block;
                                    padding:0 22px;
                                    i{
                                        display:block;
                                        width:17px;
                                        height:16px;
                                        position:absolute;
                                        top:10px;
                                        right:4px;
                                        background:url("../img/fw.fw.png") 0 -50px;
                                    }
                                }

                            }                       
                        }
                        .datalist2{
                            height:360px;
                        }
                        
                    }
                    div:first-child ul li:first-child{width:56px;}
                }
            }
        }
    }
}
