@import 'var';
// head
$headColor:#EBEBEB !default;
$headHeight:30px !default;
#head{
    background-color:$headColor;
    ul{
        float:left;
        li{
            float:left;
            height:$headHeight; 
            a{
                display:block;
                height:$headHeight;
                line-height:$headHeight;
            }
        }
    }
    .head_l{
        li{
            padding-right:10px;
            a{
                color:#52AEF6;
            }
            span{
                   color:#666666; 
                   display:inline-block;
                   line-height:$headHeight;
                }
        }
    }
    .head_r{
        float:right;
        a{
            color:#333333;
            position:relative;
            span{
                border-right:1px solid #ccc;
                padding:0 10px;
            }
        }
        >li:first-child,li:nth-child(2){
            position:relative;
            a span{
                padding-right:20px;
            }
            ul{
                display:none;
                width:87px;
                // background-color:$headColor;
                position:absolute;
                top:30px;
                left:0px;
                li{
                    width:87px;
                    line-height:30px;
                    padding-left:10px;
                }
            }
            i{
                position:absolute;
                top:13px;
                right:4px;
                display:block;
                width:8px;
                height:4px;
                background:url('../img/fw.fw.png');
            }
            // 小图标旋转
            &:hover i{
                transform:rotate(180deg);
                transition:all 0.5s;
            }
            // hove出现ul
            &:hover ul{
                display:block;
                background-color:#fff;
            }
            // hover是li颜色变换
            &:hover{
                background-color:#fff;
            }
            // hove的时候 span的右边框变成白色
            &:hover a span{border-right:#fff;}
        }
        li:nth-child(2){
            span{
                border-right:none;
            }

        }
        li:last-child{
            span{
                border-right:0 none;
                padding-right:0px;
            }
        }

    }
    i.iconfont{
        padding:0 3px;
        font-size:12px;
    }
}

#foot{
    background-color:#fff;
    .container>ul{
        display:flex;
        border:1px solid #ccc;
        border-radius:1px ;
        li{
            flex:1;
            float:left;
            text-align:center;
            font-size:20px;
            line-height:46px;   
            color:#C7012C;
            span{
                font-size:18px;
                color:#666666;
                padding-left:10px;
            }                        
        }
    }
    .container dl{
        float:left;
        margin-top:20px;
        border-right:1px solid #ccc;
        width:179px;
        padding-left:15px;
        height:150px;
        dt{
            font-size:14px;
            line-height:20px;           
        }
        dd a{
            line-height:16px;
            color:#999999;
        }
    }
    .container dl:first-of-type{
        padding-left:34px;
        width:301px;
        color:#999999;
        line-height:26px;
        font-size:14px;
        padding-top:20px;
        span{
            color:#333333;
            font-size:16px;
        }
        dd:last-of-type{
            padding-left:66px;
            position:relative;
            height:73px;
            i{
                position:absolute;
                background:url("../img/fw.fw.png") 0 -80px;
                width:66px;
                height:73px;
                top:0px;
                left:0px;
            }
            span{
                color:#FF6600;
                font-size:12px;
            }
        }
    }
    .container dl:last-child{
        border-right:0 none;

    }
}

