@import 'var';
// head
$headColor:#EBEBEB !default;
$headHeight:30px !default;
#head{
    background-color:$headColor;
    ul{
        float:left;
        li{
            float:left;
            height:$headHeight; 
            a{
                display:block;
                height:$headHeight;
                line-height:$headHeight;
            }
        }
    }
    .head_l{
        li{
            padding-right:10px;
            a{
                color:#52AEF6;
            }
            span{
                   color:#666666; 
                   display:inline-block;
                   line-height:$headHeight;
                }
        }
    }
    .head_r{
        float:right;
        a{
            color:#333333;
            position:relative;
            span{
                border-right:1px solid #ccc;
                padding:0 10px;
            }
        }
        >li:first-child,li:nth-child(2){
            position:relative;
            a span{
                padding-right:20px;
            }
            ul{
                display:none;
                width:87px;
                // background-color:$headColor;
                position:absolute;
                top:30px;
                left:0px;
                li{
                    width:87px;
                    line-height:30px;
                    padding-left:10px;
                }
            }
            i{
                position:absolute;
                top:13px;
                right:4px;
                display:block;
                width:8px;
                height:4px;
                background:url('../img/fw.fw.png');
            }
            // 小图标旋转
            &:hover i{
                transform:rotate(180deg);
                transition:all 0.5s;
            }
            // hove出现ul
            &:hover ul{
                display:block;
                background-color:#fff;
            }
            // hover是li颜色变换
            &:hover{
                background-color:#fff;
            }
            // hove的时候 span的右边框变成白色
            &:hover a span{border-right:#fff;}
        }
        li:nth-child(2){
            span{
                border-right:none;
            }

        }
        li:last-child{
            span{
                border-right:0 none;
                padding-right:0px;
            }
        }

    }
    i.iconfont{
        padding:0 3px;
        font-size:12px;
    }
}
// 搜索区
$searchColor:#fff !default;
$searchHeight:100px !default;
$inputColor:#FFC400;
$inputHeight:32px;
#search{
    background-color:$searchColor;
    h1{
        height:$searchHeight;
        float:left;
    }
    .input{
        height:$searchHeight;
        float:right;
        width:987px;
        input{
            margin:36px auto 32px 136px;
            height:$inputHeight;
            border:1px solid $inputColor;
            border-right:0 none;
            width:350px;
            float:left;
            padding-left:10px;
        }
        a{
            display:block;
            background-color:$inputColor;
            float:left;
            width:80px;
            text-align:center;
            height:$inputHeight;
            line-height:$inputHeight;
            color:#000;
            margin-top:36px;
            font-size:14px;

        }
    }
}

// 导航条
$navColor:#FFC400;
$navHeight:40px;
#nav{
    background-color:$navColor;
    
    h2{
        position:relative;
        font-size:16px;
        float:left;
        width:190px;
        line-height:$navHeight;
        text-align:center;
        font-weight:normal;
        a{
            color:$mainFontColor;
        }
        .banner_l{
            width:190px;
            float:left;
            background-color:#F6F6F6;
            position:absolute;
            top:$navHeight;
            left:0px;
            z-index:999;
            li {
                a{
                    font-size:14px;
                    display:block;
                    height:32px;
                    line-height:32px;
                    color:$mainFontColor;
                    i{padding-right:5px;font-weight:bold;}
                }
                &:hover a{
                    background-color:#fff;
                }
            }
        }
    }
    .container >ul{
        float:left;
        li{
            float:left;
            a{
                display:block;
                height:$navHeight;
                line-height:$navHeight;
                font-size:16px;
                color:$mainFontColor;
                padding:0 10px;
            }
            &:hover{
                background-color:#666;
            }
        }
    }
    .nav_r{
        width:210px;
        height:$navHeight;//40
        float:right;
        a{
            display:block;
            text-align:center;
            line-height:24px;
            height:24px;
            margin-top:7px;
            float:left;
        }
        a:first-child{
            width:122px;
            color:#333333;
            background-color:#fff;
            border-radius:3px 0 0 3px;
            i{
                padding:0 2px;
            }
        }
        a:last-child{
            width:70px;
            color:$mainFontColor;
            background-color:#FFDE00;
            border-radius:0 3px 3px 0;
        }
    }
}