@import 'var';
.box{
    background-color:$mainColor;
}


// 轮播图
$bannerHeight:480px;
#banner{
    position:relative;
    background-color:#FFDD00;
    .container{
        padding-left:190px;
    }
    .carousel{
        float:left;
        img{
            width:100%;
            height:$bannerHeight;
        }
    }
    .banner_r{
        // position:absolute;
        float:left;
        width:227px;
        height:$bannerHeight;
        top:0px;
        p{
            background-color:#fff;
            line-height:40px;
            height:40px;
            text-align:center;
            color:#333;
        }
        ul{
            background-color:#FFF9D1;
            padding:20px 0 20px 20px;
            li a{
                color:$mainFontColor;
                line-height:20px;
            }
        }
        a{
            display:block;
        }
    }

}
$martop:25px;
#main{
    background-color:$mainColor;
    .today{
        margin-top:$martop;
        .today_l{
            background-color:#FF0101;
            width:190px;
            height:267px;
            float:left;
            padding-top:42px;
            text-align:center;
            h4{
                font-weight:normal;                
                color:#fff;
                font-size:22px;
            }
            p.iconfont{
                color:#ff0101;
                background-color:#fff;
                width:120px;
                margin:12px auto 0;
                font-size:12px;
                border-radius:8px;
                line-height:22px;
                height:22px;
            }
            p.today_time{
                font-size:16px;
                line-height:16px;
                color:#000;
                text-align:center;
                margin-top:30px;
            }
            $timeFontSize:16px;
            $timeHeight:38px;
            h5{
                font-size:$timeFontSize;
                span{
                    display:inline-block;
                    text-align:center;
                    width:$timeHeight;
                    height:$timeHeight;
                    line-height:$timeHeight;
                    background-color:#000;
                    color:#fff;
                    border-radius:5px;
                    font-size:$timeFontSize;
                }
            }

        }
        .today_r{
            float:left;
            ul{
                li{
                    a{
                        display:block;
                    }
                    float:left;
                    width:202px;
                    border-right:1px solid #ccc;
                    p.title{
                        padding-left:22px;
                        font-size:14px;
                        line-height:16px;
                        margin-top:18px;
                        font-weight:bold;
                    }
                    >span{
                        display:block;
                        text-align:center;
                        line-height:24px;
                        color:#737373;
                    }
                    p.price{
                        margin-top:10px;
                        padding-left:9px;
                        $height:30px;
                        span{
                            display:block;
                            width:117px;
                            background-color:#f00;
                            color:#fff;
                            font-size:16px;
                            font-weight:bold;
                            height:$height;
                            line-height:$height;
                            float:left;
                            padding-left:7px;
                            del{
                                font-size:12px;
                                padding-left:20px;
                            }
                        }
                        a{
                            @extend span;
                            width:67px;
                            background-color:#fff;
                            color:#f00;
                            font-weight:normal;
                            font-size:14px;
                            border:1px solid #f00;

                        }
                    }

                }

            }
        }
    }
}