@import 'var';
.box{
    background-color:$mainColor;
    position:relative;
}
#link{
    position:fixed;
    top:50px;
    right:1.3%;
    z-index:100;
    width:60px;
    a{
        display:block;
        width:60px;
        height:60px;
        background-color:#FFDE00;
        text-align:center;
        font-size:14px;
        padding:0 2px;
        padding:10px;
    }
    a:nth-child(2){
        background-color:#fff;
    }
}
// 搜索区
#search{
    background-color:$searchColor;
    h1{
        height:$searchHeight;
        float:left;
        a{
            display:block;
        }
    }
    .input{
        height:$searchHeight;
        float:right;
        width:987px;
        input{
            margin:36px auto 32px 136px;
            height:$inputHeight;
            border:1px solid $inputColor;
            border-right:0 none;
            width:350px;
            float:left;
            padding-left:10px;
        }
        a{
            display:block;
            background-color:$inputColor;
            float:left;
            width:80px;
            text-align:center;
            height:$inputHeight;
            line-height:$inputHeight;
            color:#000;
            margin-top:36px;
            font-size:14px;

        }
    }
}
// 导航条
$navHeight:40px;
#nav{
    background-color:$inputColor;
    h2{
        position:relative;
        font-size:16px;
        float:left;
        width:190px;
        line-height:$navHeight;
        text-align:center;
        font-weight:normal;
        a{
            color:$mainFontColor;
        }
        .banner_l{
            // display:none;
            width:190px;
            float:left;
            background-color:#F6F6F6;
            position:absolute;
            top:$navHeight;
            left:0px;
            z-index:999;
            li {
                a{
                    font-size:14px;
                    display:block;
                    height:32px;
                    line-height:32px;
                    color:$mainFontColor;
                    i{padding-right:5px;font-weight:bold;}
                }
                &:hover a{
                    background-color:#fff;
                }
            }
        }
        /* &:hover .banner_l{
            display:block;
        } */
    }
    .container >ul{
        float:left;
        li{
            float:left;
            a{
                display:block;
                height:$navHeight;
                line-height:$navHeight;
                font-size:16px;
                color:$mainFontColor;
                padding:0 10px;
            }
            &:hover{
                background-color:#666;
            }
        }
    }
    .nav_r{
        width:210px;
        height:$navHeight;//40
        float:right;
        a{
            display:block;
            text-align:center;
            line-height:24px;
            height:24px;
            margin-top:7px;
            float:left;
        }
        a:first-child{
            width:122px;
            color:#333333;
            background-color:#fff;
            border-radius:3px 0 0 3px;
            i{
                padding:0 2px;
            }
        }
        a:last-child{
            width:70px;
            color:$mainFontColor;
            background-color:#FFDE00;
            border-radius:0 3px 3px 0;
        }
    }
}
// 轮播图
$bannerHeight:480px;
#banner{
    position:relative;
    background-color:#FFDD00;
    .container{
        padding-left:190px;
    }
    .carousel{
        float:left;
        img{
            width:100%;
            height:$bannerHeight;
        }
    }
    .banner_r{
        // position:absolute;
        float:left;
        width:227px;
        height:$bannerHeight;
        top:0px;
        p{
            background-color:#fff;
            line-height:40px;
            height:40px;
            text-align:center;
            color:#333;
        }
        ul{
            background-color:#FFF9D1;
            padding:20px 0 20px 20px;
            li a{
                color:$mainFontColor;
                line-height:20px;
            }
        }
        a{
            display:block;
        }
    }
}
$martop:25px;
#main{
    
    background-color:$mainColor;
    .container{
        padding-bottom:25px;
    }
    .today{
        margin-top:$martop;
        .today_l{
            background-color:#FF0101;
            width:190px;
            height:267px;
            float:left;
            padding-top:42px;
            text-align:center;
            h4{
                font-weight:normal;                
                color:#fff;
                font-size:22px;
            }
            p.iconfont{
                color:#ff0101;
                background-color:#fff;
                width:120px;
                margin:12px auto 0;
                font-size:12px;
                border-radius:8px;
                line-height:22px;
                height:22px;
            }
            p.today_time{
                font-size:16px;
                line-height:16px;
                color:#000;
                text-align:center;
                margin-top:30px;
            }
            $timeFontSize:16px;
            $timeHeight:38px;
            h5{
                font-size:$timeFontSize;
                span{
                    display:inline-block;
                    text-align:center;
                    width:$timeHeight;
                    height:$timeHeight;
                    line-height:$timeHeight;
                    background-color:#000;
                    color:#fff;
                    border-radius:5px;
                    font-size:$timeFontSize;
                }
            }

        }
        .today_r{
            float:left;
            ul{
                li{
                    a{
                        display:block;
                    }
                    float:left;
                    width:202px;
                    border-right:1px solid #ccc;
                    img{
                        width:201px;
                        height:166px;
                    }
                    p.title{
                        padding-left:22px;
                        font-size:14px;
                        line-height:16px;
                        margin-top:18px;
                        font-weight:bold;
                    }
                    >span{
                        display:block;
                        text-align:center;
                        line-height:24px;
                        color:#737373;
                    }
                    p.price{
                        margin-top:10px;
                        padding-left:9px;
                        $height:30px;
                        span{
                            display:block;
                            width:117px;
                            background-color:#f00;
                            color:#fff;
                            font-size:16px;
                            font-weight:bold;
                            height:$height;
                            line-height:$height;
                            float:left;
                            padding-left:7px;
                            del{
                                font-size:12px;
                                padding-left:20px;
                            }
                        }
                        a{
                            @extend span;
                            width:67px;
                            background-color:#fff;
                            color:#f00;
                            font-weight:normal;
                            font-size:14px;
                            border:1px solid #f00;

                        }
                    }

                }

            }
        }
    }
    .product_class{
        margin-top:$martop;
        a:hover img{
            transform:scale(1.1);
        }
        a img{transition:all 0.5s;}
        .product_head{
            border-bottom:2px solid #666666;
            h3,a{
                line-height:44px;
                display:block;
            }
            h3{
                float:left;
            }
            ul{
                float:right;
                li{
                    float:left;
                    a{
                        padding:0 12px;
                        color:#333;
                        &:hover{
                            color:red;
                        }
                    }
                }
            }
        } 
        a{display:block;}
        .content1{
            float:left;
            >div{float:left;width:600px;}
            .left{                
                div{
                    float:left;                    
                }
            }
            .right{
                li{
                    width:200px;
                    float:left;
                    p{text-align:center;line-height:26px;}
                    p.title{color:#000;}
                    p.price{
                        font-weight:bold;
                        color:#E30303;
                    }
                }
            }
        } 
        .foot_logo{
            li{
                float:left;
                img{
                    width:150px;
                }
            }
        }          
    }
}

#foot{
    .container dl{
        margin-top:65px;
    }
}