@import 'var';
/* 
    虚拟样式 不会出现在css文件夹中
 */

#head{
    // height:30px;
    background-color:$headColor;
    .container{
        height:30px;
    }
    .head_l{
        float:left;
        li{
            float:left;
            a{
                display:block;
                color:#666666;
                span{
                    color:#52AEF6;
                }
            }
        }
    }
}