@charset "UTF-8";
.box {
  background-color: #FAFAFA;
}

#search {
  background-color: #fff;
}

#search h1 {
  height: 100px;
  float: left;
}

#search h1 a {
  display: block;
}

#search .input {
  height: 100px;
  float: right;
  width: 987px;
}

#search .input .border {
  border: 3px solid #ccc;
  margin: 36px 415px 32px 136px;
}

#search .input .border input {
  height: 32px;
  border: 1px solid #C7012C;
  border-right: 0 none;
  width: 350px;
  float: left;
  padding-left: 10px;
}

#search .input .border a {
  display: block;
  background-color: #C7012C;
  float: left;
  width: 80px;
  text-align: center;
  height: 32px;
  line-height: 32px;
  color: #fff;
  font-size: 16px;
}

#nav {
  background-color: #fff;
}

#nav .container {
  background-color: #C7012C;
  border-radius: 5px 0px;
}

#nav h2 {
  position: relative;
  font-size: 16px;
  float: left;
  width: 230px;
  line-height: 40px;
  padding-left: 22px;
  font-weight: normal;
  font-size: 16px;
  color: #fff;
}

#nav h2 a {
  color: #000;
}

#nav h2 > i {
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 12px;
  right: 15px;
  background: url("../img/fw.fw.png") 0 -25px;
  border-radius: 50%;
}

#nav h2 .banner_l {
  display: none;
  width: 230px;
  float: left;
  background-color: #ffc8d4;
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 999;
  border: 1px solid #C7012C;
  /* li:nth-child(1),li:nth-child(2),li:nth-child(3){
                
            } */
}

#nav h2 .banner_l > li {
  position: relative;
}

#nav h2 .banner_l > li:hover {
  border: 2px solid #C7012C;
  border-right: none;
  background-color: #fff;
  margin: -2px;
}

#nav h2 .banner_l > li:hover ul {
  display: block;
}

#nav h2 .banner_l > li ul {
  display: none;
  width: 475px;
  position: absolute;
  top: -2px;
  left: 228px;
  z-index: 99;
  background-color: #fff;
  border: 2px solid #C7012C;
}

#nav h2 .banner_l > li ul li {
  float: left;
  padding: 15px;
  line-height: 16px;
  font-size: 12px;
}

#nav h2 .banner_l > li ul li a {
  color: #666;
}

#nav h2 .banner_l > li ul li a::before {
  content: '·';
  font-weight: bold;
}

#nav h2 .banner_l > li ul li:hover a {
  background-color: #f00;
}

#nav h2 .banner_l > li > a {
  padding-left: 22px;
  font-size: 16px;
  display: block;
  height: 32px;
  line-height: 32px;
  color: #000;
}

#nav h2 .banner_l > li > a i {
  padding-right: 5px;
  font-weight: bold;
}

#nav h2 .banner_l > li:hover > a {
  background-color: #fff;
}

#nav h2:hover .banner_l {
  display: block;
}

#nav .container > ul {
  float: left;
}

#nav .container > ul li {
  float: left;
}

#nav .container > ul li a {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
}

#nav .container > ul li a span {
  padding: 0 20px;
  border-right: 1px solid #ccc;
  display: inline-block;
  line-height: 16px;
}

#nav .container > ul li:hover a {
  color: #FFC400;
}

#nav .container > ul li:last-child a span {
  border-right: none;
}

#nav .nav_r {
  width: 210px;
  height: 40px;
  float: right;
}

#nav .nav_r a {
  display: block;
  text-align: center;
  line-height: 24px;
  height: 24px;
  margin-top: 7px;
  float: left;
  position: relative;
}

#nav .nav_r a:first-child {
  width: 122px;
  color: #333333;
  background-color: #fff;
  border-radius: 3px 0 0 3px;
}

#nav .nav_r a:first-child i.iconfont {
  padding: 0 2px;
}

#nav .nav_r a:first-child i.xia {
  display: block;
  width: 8px;
  height: 4px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: url("../img/fw.fw.png");
}

#nav .nav_r a:last-child {
  width: 70px;
  color: #000;
  background-color: #FCBE11;
  border-radius: 0 3px 3px 0;
}

#nav .nav_r a:last-child i {
  display: block;
  width: 5px;
  height: 8px;
  position: absolute;
  top: 8px;
  right: 7px;
  background: url("../img/fw.fw.png") 0px -9px;
}
