@charset "UTF-8";
.box {
  background-color: #FAFAFA;
}

.nav_r {
  position: relative;
}

.nav_r .showCart {
  border: 1px solid #f00;
  position: absolute;
  min-height: 50px;
  width: 194px;
  top: 31px;
  left: 0px;
  background-color: #fff;
  color: #f00;
  text-align: center;
  z-index: 100;
}

.nav_r .showCart ul {
  margin-top: 5px;
}

.nav_r .showCart li {
  overflow: hidden;
  position: relative;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.nav_r .showCart li > p, .nav_r .showCart li h5 {
  float: left;
}

.nav_r .showCart img {
  width: 47px;
  height: 47px;
}

.nav_r .showCart h5 {
  width: 145px;
}

.nav_r .showCart h5 p {
  line-height: 16px;
  height: 16px;
  overflow: hidden;
  text-align: left;
  font-weight: normal;
}

.nav_r .showCart h5 p.name {
  color: #333;
}

.nav_r .showCart h5 p.name:hover {
  color: blue;
  text-decoration: underline;
}

.nav_r .showCart h5 p.price, .nav_r .showCart h5 #main .container .main_content .main_r .arrage .datalist-left ul li p.price, #main .container .main_content .main_r .arrage .datalist-left ul li .nav_r .showCart h5 p.price, .nav_r .showCart h5 #main .container .main_content .main_r .product .product_class .datalist2 ul li p.price, #main .container .main_content .main_r .product .product_class .datalist2 ul li .nav_r .showCart h5 p.price {
  padding-left: 0px;
}

.nav_r .showCart h5 p:last-child {
  position: absolute;
  bottom: 5px;
  right: 8px;
}

.nav_r .showCart h5 p:last-child span {
  float: right;
  color: #ccc;
}

.nav_r .showCart div .mycart_total {
  overflow: hidden;
  margin-top: 10px;
}

.nav_r .showCart div .mycart_total p {
  float: left;
  padding-left: 20px;
  color: #333;
  line-height: 20px;
}

.nav_r .showCart div .mycart_total p span {
  color: #f00;
}

.nav_r .showCart div .mycar_pay > a {
  display: block;
  width: 110px;
  height: 31px;
  line-height: 31px;
  margin: 10px auto;
  border-radius: 5px;
  text-align: center;
  background-color: #c60029;
  color: #fff;
}

p.price, #main .container .main_content .main_r .arrage .datalist-left ul li p.price, #main .container .main_content .main_r .product .product_class .datalist2 ul li p.price {
  font-weight: bold;
  color: #C7012C;
  font-size: 14px;
  padding-left: 21px;
}

div.pbtn {
  margin-top: 10px;
  padding-left: 21px;
}

div.pbtn a {
  display: inline-block;
  width: 79px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
}

div.pbtn a:first-child {
  width: 66px;
  margin-right: 5px;
}

#main {
  background-color: #fff;
}

#main .container .main_t {
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
}

#main .container .main_t a {
  color: #666666;
}

#main .container .main_t a:hover {
  color: blue;
  text-decoration: underline;
}

#main .container .main_content {
  padding-top: 10px;
}

#main .container .main_content .main_l {
  float: left;
  width: 230px;
}

#main .container .main_content .main_l > div {
  padding: 5px;
  background-color: #FAFAFA;
}

#main .container .main_content .main_l .main_lt > ul {
  border-radius: 3px;
  background-color: #fff;
}

#main .container .main_content .main_l .main_lt > ul > li {
  position: relative;
  overflow: hidden;
}

#main .container .main_content .main_l .main_lt > ul > li a.btnjia {
  display: block;
  line-height: 48px;
  height: 48px;
  font-size: 16px;
  color: #666666;
  padding-left: 10px;
}

#main .container .main_content .main_l .main_lt > ul > li a.btnjia span {
  position: absolute;
  top: 20px;
  right: 20px;
}

#main .container .main_content .main_l .main_lt > ul > li a.color {
  color: #C7012C;
}

#main .container .main_content .main_l .main_lt > ul > li > ul {
  height: 0px;
  padding-left: 10px;
  overflow: hidden;
}

#main .container .main_content .main_l .main_lt > ul > li > ul li {
  float: left;
  width: 88px;
  line-height: 24px;
  padding-left: 13px;
}

#main .container .main_content .main_l .main_lt > ul > li > ul li a {
  color: #666666;
}

#main .container .main_content .main_l .main_lt > ul > li > ul li a::before {
  content: '·';
  font-weight: bold;
}

#main .container .main_content .main_l .main_lt > ul > li > ul li:hover a {
  background-color: #f00;
}

#main .container .main_content .main_l .data {
  margin-top: 6px;
}

#main .container .main_content .main_l .data > div {
  border-radius: 5px;
  background-color: #fff;
}

#main .container .main_content .main_l .data div > p {
  line-height: 48px;
  height: 48px;
  padding-left: 11px;
  font-size: 16px;
  color: #C7120C;
  border-bottom: 2px solid #C7120C;
}

#main .container .main_content .main_l .data .datalist-left ul {
  margin-top: 13px;
}

#main .container .main_content .main_l .data .datalist-left ul li {
  padding-left: 16px;
  height: 94px;
}

#main .container .main_content .main_l .data .datalist-left ul li img {
  border: 1px solid #ccc;
  width: 77px;
  height: 77px;
  float: left;
}

#main .container .main_content .main_l .data .datalist-left ul li p.price, #main .container .main_content .main_l .data .datalist-left .main_r .product .product_class .datalist2 ul li p.price, #main .container .main_content .main_r .product .product_class .datalist2 .main_l .data .datalist-left ul li p.price, #main .container .main_content .main_l .data .datalist-left ul li h4 {
  float: left;
  width: 127px;
  padding-left: 7px;
  line-height: 20px;
}

#main .container .main_content .main_l .data .datalist-left ul li h4 {
  font-weight: normal;
  color: #666666;
  padding-top: 6px;
}

#main .container .main_content .main_l .newcomment {
  background-color: #fff;
  margin-top: 6px;
  padding: 0px;
  border-top: 2px solid #C7012C;
}

#main .container .main_content .main_l .newcomment > p {
  padding-left: 10px;
  line-height: 36px;
  font-size: 16px;
  color: #C7012C;
  background-color: #F5F5F5;
}

#main .container .main_content .main_l .newcomment .comment ul {
  padding: 0 10px;
}

#main .container .main_content .main_l .newcomment .comment ul li {
  height: 82px;
  border-bottom: 1px dotted #000;
  padding: 8px 0px 0 5px;
}

#main .container .main_content .main_l .newcomment .comment ul li p:first-child {
  line-height: 16px;
  color: blue;
}

#main .container .main_content .main_l .newcomment .comment ul li p:last-child {
  line-height: 20px;
  color: #666666;
}

#main .container .main_content .main_l .newcomment .comment ul li:last-child {
  border-bottom: none;
}

#main .container .main_content .main_r {
  float: left;
  width: 970px;
  padding-left: 10px;
}

#main .container .main_content .main_r .advertising .mainAd {
  float: left;
  margin-right: 10px;
}

#main .container .main_content .main_r .advertising .datalist-left {
  float: left;
  border: 1px solid #ccc;
  width: 230px;
  height: 242px;
}

#main .container .main_content .main_r .advertising .datalist-left > p {
  line-height: 36px;
  color: #C7012C;
  font-size: 16px;
  padding-left: 10px;
  background-color: #F5F5F5;
}

#main .container .main_content .main_r .advertising .datalist-left .choice {
  position: relative;
  overflow: hidden;
}

#main .container .main_content .main_r .advertising .datalist-left .choice img {
  width: 130px;
  height: 130px;
  margin: 0 auto;
}

#main .container .main_content .main_r .advertising .datalist-left .choice p {
  line-height: 20px;
  padding-left: 10px;
}

#main .container .main_content .main_r .advertising .datalist-left .choice p a:hover {
  text-decoration: underline;
  color: blue;
}

#main .container .main_content .main_r .advertising .datalist-left .choice p.price, #main .container .main_content .main_r .advertising .datalist-left .choice .product .product_class .datalist2 ul li p.price, #main .container .main_content .main_r .product .product_class .datalist2 ul li .advertising .datalist-left .choice p.price {
  position: absolute;
  bottom: 60px;
  right: 31px;
  background-color: #f00;
  padding-left: 0px;
  width: 60px;
  height: 60px;
  padding-top: 10px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

#main .container .main_content .main_r .advertising .datalist-left .choice p.price span, #main .container .main_content .main_r .advertising .datalist-left .choice .product .product_class .datalist2 ul li p.price span, #main .container .main_content .main_r .product .product_class .datalist2 ul li .advertising .datalist-left .choice p.price span {
  display: block;
  text-align: center;
  font-size: 16px;
}

#main .container .main_content .main_r .arrage {
  margin-top: 8px;
  border: 1px solid #ccc;
  padding-bottom: 12px;
  position: relative;
}

#main .container .main_content .main_r .arrage > ul {
  background-color: #F3F3F3;
  display: flex;
  border-top: 1px solid #C7012C;
}

#main .container .main_content .main_r .arrage > ul li {
  flex: 1;
  float: left;
  text-align: center;
  font-size: 16px;
  color: #666666;
  line-height: 36px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#main .container .main_content .main_r .arrage > ul li:last-child {
  border-right: none;
}

#main .container .main_content .main_r .arrage > ul li.active {
  background-color: #fff;
}

#main .container .main_content .main_r .arrage .datalist-left {
  position: relative;
  height: 330px;
}

#main .container .main_content .main_r .arrage .datalist-left ul {
  position: absolute;
}

#main .container .main_content .main_r .arrage .datalist-left ul li {
  float: left;
}

#main .container .main_content .main_r .arrage .datalist-left ul li img {
  width: 191px;
  height: 209px;
}

#main .container .main_content .main_r .arrage .datalist-left ul li h4, #main .container .main_content .main_r .arrage .datalist-left ul li p {
  line-height: 20px;
  padding-left: 21px;
}

#main .container .main_content .main_r .arrage .datalist-left ul li h4 a {
  color: #7D7D7D;
}

#main .container .main_content .main_r .arrage .datalist-left ul li h4 a:hover {
  text-decoration: underline;
  color: #0066FF;
}

#main .container .main_content .main_r .arrage .datalist-left ul li p {
  color: #FF9900;
}

#main .container .main_content .main_r .arrage .datalist-left ul li p.price, #main .container .main_content .main_r .arrage .datalist-left .product .product_class .datalist2 ul li p.price, #main .container .main_content .main_r .product .product_class .datalist2 .arrage .datalist-left ul li p.price {
  margin-top: 38px;
}

#main .container .main_content .main_r .product {
  margin-top: 8px;
}

#main .container .main_content .main_r .product .product_class > ul {
  padding-right: 10px;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}

#main .container .main_content .main_r .product .product_class > ul li:first-child {
  float: left;
  font-size: 16px;
  font-weight: bold;
  color: #C7012C;
  line-height: 36px;
  padding: 0 10px;
  border-top: 2px solid #C7012C;
  width: 92px;
  margin-top: -2px;
}

#main .container .main_content .main_r .product .product_class > ul li:last-child {
  float: right;
}

#main .container .main_content .main_r .product .product_class > ul li:last-child a {
  position: relative;
  color: #666666;
  line-height: 36px;
  display: block;
  padding: 0 22px;
}

#main .container .main_content .main_r .product .product_class > ul li:last-child a i {
  display: block;
  width: 17px;
  height: 16px;
  position: absolute;
  top: 10px;
  right: 4px;
  background: url("../img/fw.fw.png") 0 -50px;
}

#main .container .main_content .main_r .product .product_class .datalist2 {
  height: 360px;
}

#main .container .main_content .main_r .product .product_class .datalist2 ul {
  position: absolute;
}

#main .container .main_content .main_r .product .product_class .datalist2 ul li {
  float: left;
  width: 192px;
}

#main .container .main_content .main_r .product .product_class .datalist2 ul li > a:first-child {
  display: block;
}

#main .container .main_content .main_r .product .product_class .datalist2 ul li h4, #main .container .main_content .main_r .product .product_class .datalist2 ul li p {
  line-height: 20px;
  padding-left: 21px;
  height: 20px;
  overflow: hidden;
}

#main .container .main_content .main_r .product .product_class .datalist2 ul li h4 {
  color: #7D7D7D;
}

#main .container .main_content .main_r .product .product_class .datalist2 ul li h4 a {
  color: #7D7D7D;
}

#main .container .main_content .main_r .product .product_class .datalist2 ul li h4 a:hover {
  text-decoration: underline;
  color: #0066FF;
}

#main .container .main_content .main_r .product .product_class .datalist2 ul li p {
  color: #FF9900;
}

#main .container .main_content .main_r .product .product_class .datalist2 ul li p.price {
  margin-top: 38px;
}

#main .container .main_content .main_r .product .product_class .datalist2 ul li p.price span {
  font-size: 12px;
  color: #666;
  font-weight: normal;
}

#main .container .main_content .main_r .product div:first-child > ul li:first-child {
  width: 56px;
}

.TCbox {
  width: 520px;
  height: 434px;
  display: none;
  border: 5px solid #ddd;
  position: fixed;
  background-color: #fff;
}

.TCtitle {
  background: #F9F9F9;
  border-bottom: solid 1px #F14D58;
  height: 50px;
  position: relative;
  border-right: solid 1px #ccc;
}

.TCtitle h6 {
  height: 49px;
  border-bottom: solid 1px #E1E1E1;
  line-height: 50px;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  padding-left: 15px;
}

.TCtitle .TCclose {
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  top: 18px;
  right: 14px;
  z-index: 10002;
  text-align: center;
  line-height: 15px;
}

.TCtitle .TCclose:hover {
  background-color: #f00;
}

.TCbody {
  background: #fff;
  border-top: solid 1px #E7AAAF;
  border-right: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}

.TCbody .carContent .carsuccess {
  position: relative;
  padding: 20px 0 20px 140px;
}

.TCbody .carContent .carsuccess i, .TCbody .carContent .carsuccess h5 {
  float: left;
}

.TCbody .carContent .carsuccess p {
  width: 100%;
  margin-left: 5px;
}

.TCbody .carContent .carsuccess i {
  display: block;
  width: 49px;
  height: 49px;
  background: url("../img/fw.fw.png") 0 -410px;
}

.TCbody .carContent .carsuccess p:nth-of-type(1) {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.TCbody .carContent .carsuccess span.em {
  font-size: 16px;
  font-weight: bold;
  color: #c7012c;
  margin: 0 6px;
}

.TCbody .carContent .carGoingOn {
  padding-left: 140px;
  margin-bottom: 25px;
  overflow: hidden;
}

.TCbody .carContent .carGoingOn a {
  float: left;
  width: 100px;
  height: 40px;
  line-height: 40px;
  background: #fafafa;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-right: 15px;
  color: #666;
  border-radius: 5px;
}

.TCbody .carContent .carGoingOn a.btnGocart {
  width: 122px;
  overflow: hidden;
  background: #c7012c;
  font-size: 18px;
  margin-right: 12px;
  color: #fff;
  font-weight: normal;
  font-family: "Microsoft YaHei";
}

.TCbody .TChotlist {
  margin: 0 6px;
  border-top: solid 1px #ddd;
  padding: 4px 10px 4px 20px;
  color: #666;
}

.TCbody .TChotlist .hothd {
  height: 33px;
  padding: 0 10px 0 0;
  line-height: 33px;
  overflow: hidden;
  font-weight: bold;
}

.TCbody .TChotlist .hothd a {
  float: right;
  color: #666;
}

.TCbody .TChotlist .hotcontent li {
  float: left;
  width: 100px;
  height: 170px;
  overflow: hidden;
  margin-right: 15px;
}

.TCbody .TChotlist .hotcontent li p.img {
  padding: 0 13px 0 12px;
  margin: 0 auto 10px;
  overflow: hidden;
}

.TCbody .TChotlist .hotcontent li p.img img {
  width: 75px;
  height: 75px;
}

.TCbody .TChotlist .hotcontent li p.name {
  height: 36px;
  overflow: hidden;
  margin-bottom: 2px;
}

.TCbody .TChotlist .hotcontent li span.em {
  font-size: 16px;
  color: #c7012c;
  font-weight: bold;
}
