#head {
  background-color: #EBEBEB;
}

#head ul {
  float: left;
}

#head ul li {
  float: left;
  height: 30px;
}

#head ul li a {
  display: block;
  height: 30px;
  line-height: 30px;
}

#head .head_l li {
  padding-right: 10px;
}

#head .head_l li a {
  color: #52AEF6;
}

#head .head_l li span {
  color: #666666;
  display: inline-block;
  line-height: 30px;
}

#head .head_r {
  float: right;
}

#head .head_r a {
  color: #333333;
  position: relative;
}

#head .head_r a span {
  border-right: 1px solid #ccc;
  padding: 0 10px;
}

#head .head_r > li:first-child, #head .head_r li:nth-child(2) {
  position: relative;
}

#head .head_r > li:first-child a span, #head .head_r li:nth-child(2) a span {
  padding-right: 20px;
}

#head .head_r > li:first-child ul, #head .head_r li:nth-child(2) ul {
  display: none;
  width: 87px;
  position: absolute;
  top: 30px;
  left: 0px;
}

#head .head_r > li:first-child ul li, #head .head_r li:nth-child(2) ul li {
  width: 87px;
  line-height: 30px;
  padding-left: 10px;
}

#head .head_r > li:first-child i, #head .head_r li:nth-child(2) i {
  position: absolute;
  top: 13px;
  right: 4px;
  display: block;
  width: 8px;
  height: 4px;
  background: url("../img/fw.fw.png");
}

#head .head_r > li:first-child:hover i, #head .head_r li:nth-child(2):hover i {
  transform: rotate(180deg);
  transition: all 0.5s;
}

#head .head_r > li:first-child:hover ul, #head .head_r li:nth-child(2):hover ul {
  display: block;
  background-color: #fff;
}

#head .head_r > li:first-child:hover, #head .head_r li:nth-child(2):hover {
  background-color: #fff;
}

#head .head_r > li:first-child:hover a span, #head .head_r li:nth-child(2):hover a span {
  border-right: #fff;
}

#head .head_r li:nth-child(2) span {
  border-right: none;
}

#head .head_r li:last-child span {
  border-right: 0 none;
  padding-right: 0px;
}

#head i.iconfont {
  padding: 0 3px;
  font-size: 12px;
}

#foot {
  background-color: #fff;
}

#foot .container > ul {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 1px;
}

#foot .container > ul li {
  flex: 1;
  float: left;
  text-align: center;
  font-size: 20px;
  line-height: 46px;
  color: #C7012C;
}

#foot .container > ul li span {
  font-size: 18px;
  color: #666666;
  padding-left: 10px;
}

#foot .container dl {
  float: left;
  margin-top: 20px;
  border-right: 1px solid #ccc;
  width: 179px;
  padding-left: 15px;
  height: 150px;
}

#foot .container dl dt {
  font-size: 14px;
  line-height: 20px;
}

#foot .container dl dd a {
  line-height: 16px;
  color: #999999;
}

#foot .container dl:first-of-type {
  padding-left: 34px;
  width: 301px;
  color: #999999;
  line-height: 26px;
  font-size: 14px;
  padding-top: 20px;
}

#foot .container dl:first-of-type span {
  color: #333333;
  font-size: 16px;
}

#foot .container dl:first-of-type dd:last-of-type {
  padding-left: 66px;
  position: relative;
  height: 73px;
}

#foot .container dl:first-of-type dd:last-of-type i {
  position: absolute;
  background: url("../img/fw.fw.png") 0 -80px;
  width: 66px;
  height: 73px;
  top: 0px;
  left: 0px;
}

#foot .container dl:first-of-type dd:last-of-type span {
  color: #FF6600;
  font-size: 12px;
}

#foot .container dl:last-child {
  border-right: 0 none;
}
