.box {
  background-color: #FAFAFA;
}

#banner {
  position: relative;
  background-color: #FFDD00;
}

#banner .container {
  padding-left: 190px;
}

#banner .carousel {
  float: left;
}

#banner .carousel img {
  width: 100%;
  height: 480px;
}

#banner .banner_r {
  float: left;
  width: 227px;
  height: 480px;
  top: 0px;
}

#banner .banner_r p {
  background-color: #fff;
  line-height: 40px;
  height: 40px;
  text-align: center;
  color: #333;
}

#banner .banner_r ul {
  background-color: #FFF9D1;
  padding: 20px 0 20px 20px;
}

#banner .banner_r ul li a {
  color: #000;
  line-height: 20px;
}

#banner .banner_r a {
  display: block;
}

#main {
  background-color: #FAFAFA;
}

#main .today {
  margin-top: 25px;
}

#main .today .today_l {
  background-color: #FF0101;
  width: 190px;
  height: 267px;
  float: left;
  padding-top: 42px;
  text-align: center;
}

#main .today .today_l h4 {
  font-weight: normal;
  color: #fff;
  font-size: 22px;
}

#main .today .today_l p.iconfont {
  color: #ff0101;
  background-color: #fff;
  width: 120px;
  margin: 12px auto 0;
  font-size: 12px;
  border-radius: 8px;
  line-height: 22px;
  height: 22px;
}

#main .today .today_l p.today_time {
  font-size: 16px;
  line-height: 16px;
  color: #000;
  text-align: center;
  margin-top: 30px;
}

#main .today .today_l h5 {
  font-size: 16px;
}

#main .today .today_l h5 span, #main .today .today_l h5 .today_r ul li p.price a, #main .today .today_r ul li p.price .today_l h5 a {
  display: inline-block;
  text-align: center;
  width: 38px;
  height: 38px;
  line-height: 38px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
}

#main .today .today_r {
  float: left;
}

#main .today .today_r ul li {
  float: left;
  width: 202px;
  border-right: 1px solid #ccc;
}

#main .today .today_r ul li a {
  display: block;
}

#main .today .today_r ul li p.title {
  padding-left: 22px;
  font-size: 14px;
  line-height: 16px;
  margin-top: 18px;
  font-weight: bold;
}

#main .today .today_r ul li > span, #main .today .today_r ul li p.price li > a {
  display: block;
  text-align: center;
  line-height: 24px;
  color: #737373;
}

#main .today .today_r ul li p.price {
  margin-top: 10px;
  padding-left: 9px;
}

#main .today .today_r ul li p.price span, #main .today .today_r ul li p.price a {
  display: block;
  width: 117px;
  background-color: #f00;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  float: left;
  padding-left: 7px;
}

#main .today .today_r ul li p.price span del, #main .today .today_r ul li p.price a del {
  font-size: 12px;
  padding-left: 20px;
}

#main .today .today_r ul li p.price a {
  width: 67px;
  background-color: #fff;
  color: #f00;
  font-weight: normal;
  font-size: 14px;
  border: 1px solid #f00;
}
