.box {
  background-color: #FAFAFA;
  position: relative;
}

#link {
  position: fixed;
  top: 50px;
  right: 1.3%;
  z-index: 100;
  width: 60px;
}

#link a {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #FFDE00;
  text-align: center;
  font-size: 14px;
  padding: 0 2px;
  padding: 10px;
}

#link a:nth-child(2) {
  background-color: #fff;
}

#search {
  background-color: #fff;
}

#search h1 {
  height: 100px;
  float: left;
}

#search h1 a {
  display: block;
}

#search .input {
  height: 100px;
  float: right;
  width: 987px;
}

#search .input input {
  margin: 36px auto 32px 136px;
  height: 32px;
  border: 1px solid #FFC400;
  border-right: 0 none;
  width: 350px;
  float: left;
  padding-left: 10px;
}

#search .input a {
  display: block;
  background-color: #FFC400;
  float: left;
  width: 80px;
  text-align: center;
  height: 32px;
  line-height: 32px;
  color: #000;
  margin-top: 36px;
  font-size: 14px;
}

#nav {
  background-color: #FFC400;
}

#nav h2 {
  position: relative;
  font-size: 16px;
  float: left;
  width: 190px;
  line-height: 40px;
  text-align: center;
  font-weight: normal;
  /* &:hover .banner_l{
            display:block;
        } */
}

#nav h2 a {
  color: #000;
}

#nav h2 .banner_l {
  width: 190px;
  float: left;
  background-color: #F6F6F6;
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 999;
}

#nav h2 .banner_l li a {
  font-size: 14px;
  display: block;
  height: 32px;
  line-height: 32px;
  color: #000;
}

#nav h2 .banner_l li a i {
  padding-right: 5px;
  font-weight: bold;
}

#nav h2 .banner_l li:hover a {
  background-color: #fff;
}

#nav .container > ul {
  float: left;
}

#nav .container > ul li {
  float: left;
}

#nav .container > ul li a {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #000;
  padding: 0 10px;
}

#nav .container > ul li:hover {
  background-color: #666;
}

#nav .nav_r {
  width: 210px;
  height: 40px;
  float: right;
}

#nav .nav_r a {
  display: block;
  text-align: center;
  line-height: 24px;
  height: 24px;
  margin-top: 7px;
  float: left;
}

#nav .nav_r a:first-child {
  width: 122px;
  color: #333333;
  background-color: #fff;
  border-radius: 3px 0 0 3px;
}

#nav .nav_r a:first-child i {
  padding: 0 2px;
}

#nav .nav_r a:last-child {
  width: 70px;
  color: #000;
  background-color: #FFDE00;
  border-radius: 0 3px 3px 0;
}

#banner {
  position: relative;
  background-color: #FFDD00;
}

#banner .container {
  padding-left: 190px;
}

#banner .carousel {
  float: left;
}

#banner .carousel img {
  width: 100%;
  height: 480px;
}

#banner .banner_r {
  float: left;
  width: 227px;
  height: 480px;
  top: 0px;
}

#banner .banner_r p {
  background-color: #fff;
  line-height: 40px;
  height: 40px;
  text-align: center;
  color: #333;
}

#banner .banner_r ul {
  background-color: #FFF9D1;
  padding: 20px 0 20px 20px;
}

#banner .banner_r ul li a {
  color: #000;
  line-height: 20px;
}

#banner .banner_r a {
  display: block;
}

#main {
  background-color: #FAFAFA;
}

#main .container {
  padding-bottom: 25px;
}

#main .today {
  margin-top: 25px;
}

#main .today .today_l {
  background-color: #FF0101;
  width: 190px;
  height: 267px;
  float: left;
  padding-top: 42px;
  text-align: center;
}

#main .today .today_l h4 {
  font-weight: normal;
  color: #fff;
  font-size: 22px;
}

#main .today .today_l p.iconfont {
  color: #ff0101;
  background-color: #fff;
  width: 120px;
  margin: 12px auto 0;
  font-size: 12px;
  border-radius: 8px;
  line-height: 22px;
  height: 22px;
}

#main .today .today_l p.today_time {
  font-size: 16px;
  line-height: 16px;
  color: #000;
  text-align: center;
  margin-top: 30px;
}

#main .today .today_l h5 {
  font-size: 16px;
}

#main .today .today_l h5 span, #main .today .today_l h5 .today_r ul li p.price a, #main .today .today_r ul li p.price .today_l h5 a {
  display: inline-block;
  text-align: center;
  width: 38px;
  height: 38px;
  line-height: 38px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
}

#main .today .today_r {
  float: left;
}

#main .today .today_r ul li {
  float: left;
  width: 202px;
  border-right: 1px solid #ccc;
}

#main .today .today_r ul li a {
  display: block;
}

#main .today .today_r ul li img {
  width: 201px;
  height: 166px;
}

#main .today .today_r ul li p.title {
  padding-left: 22px;
  font-size: 14px;
  line-height: 16px;
  margin-top: 18px;
  font-weight: bold;
}

#main .today .today_r ul li > span, #main .today .today_r ul li p.price li > a {
  display: block;
  text-align: center;
  line-height: 24px;
  color: #737373;
}

#main .today .today_r ul li p.price {
  margin-top: 10px;
  padding-left: 9px;
}

#main .today .today_r ul li p.price span, #main .today .today_r ul li p.price a {
  display: block;
  width: 117px;
  background-color: #f00;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  float: left;
  padding-left: 7px;
}

#main .today .today_r ul li p.price span del, #main .today .today_r ul li p.price a del {
  font-size: 12px;
  padding-left: 20px;
}

#main .today .today_r ul li p.price a {
  width: 67px;
  background-color: #fff;
  color: #f00;
  font-weight: normal;
  font-size: 14px;
  border: 1px solid #f00;
}

#main .product_class {
  margin-top: 25px;
}

#main .product_class a:hover img {
  transform: scale(1.1);
}

#main .product_class a img {
  transition: all 0.5s;
}

#main .product_class .product_head {
  border-bottom: 2px solid #666666;
}

#main .product_class .product_head h3, #main .product_class .product_head a {
  line-height: 44px;
  display: block;
}

#main .product_class .product_head h3 {
  float: left;
}

#main .product_class .product_head ul {
  float: right;
}

#main .product_class .product_head ul li {
  float: left;
}

#main .product_class .product_head ul li a {
  padding: 0 12px;
  color: #333;
}

#main .product_class .product_head ul li a:hover {
  color: red;
}

#main .product_class a {
  display: block;
}

#main .product_class .content1 {
  float: left;
}

#main .product_class .content1 > div {
  float: left;
  width: 600px;
}

#main .product_class .content1 .left div {
  float: left;
}

#main .product_class .content1 .right li {
  width: 200px;
  float: left;
}

#main .product_class .content1 .right li p {
  text-align: center;
  line-height: 26px;
}

#main .product_class .content1 .right li p.title {
  color: #000;
}

#main .product_class .content1 .right li p.price {
  font-weight: bold;
  color: #E30303;
}

#main .product_class .foot_logo li {
  float: left;
}

#main .product_class .foot_logo li img {
  width: 150px;
}

#foot .container dl {
  margin-top: 65px;
}
